.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
  }
  .carouselItem__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carouselItem__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  